doctype html
html
	head
		title mrd
		link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='/style.css', rel='stylesheet')
	body.grey.lighten-4
		header
			nav.blue.darken-4.row
				.container.row
					a.brand-logo(href='/') mrd
		main
			.container
				form(action='/search').z-depth-1
					.input-field
						if typeof(q) != 'undefined'
							input#search(name='q', type='search', value=q, required)
						else
							input#search(name='q', type='search', required)
						label(for='search'): i.prefix.material-icons search
				block main
		footer.page-footers.blue.darken-4.white-text
			.container.section
				span mrd uses the 
				a(href='http://mangaeden.com/') MangaEden 
				span API
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js', type='text/javascript')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js', type='text/javascript')
		block script
