doctype html
html
	head
		title mread
		link(href='/favicon.png', rel='icon', type='image/png')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='/style.css', rel='stylesheet')
	body
		header.white
			nav.light-blue.darken-4
				.container
					a.brand-logo(href='/') mread
			.container
				form(action='/search')
					.input-field
						if typeof(q) != 'undefined'
							input#search.section(name='q', type='search', value=q, required)
						else
							input#search.section(name='q', type='search', required)
						label(for='search'): i.prefix.material-icons search
		main.section.grey.lighten-4.blue-grey-text.text-darken-1
			.container
				if !success
					.card-panel.row
						h5.valign-wrapper
							i.medium.material-icons.blue-grey-text.text-lighten-3.valign.info-icon warning
							span.valign= message
				else
					block main
		footer.page-footers.blue-grey.darken-2.white-text
			.container.section
				span mread uses the 
				a(href='http://mangaeden.com/') MangaEden 
				span API
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js', type='text/javascript')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js', type='text/javascript')
		block script
