body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.search-result img {
	float: right;
	max-height: 150px;
}
.tabs .indicator {
	background-color: #0288d1;
}
#gallery {
	background: rgba(0, 0, 0, 0.6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#current-slide {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
input[type=search] {
	border-bottom: 0;
}
